@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3257E3;
}

header {
    background-color: #850B96;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#title {
    font-family: "Indie Flower";
    font-weight: bold;
    font-size: 3em;
    color: #38B8E6;
}

#leadIn {
    font-family: "Cinzel";
    font-weight: bold;
    font-size: 25px;
    color: #38B8E6;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* div containing the game */
#body {
    background-color: #850B96;
    margin-top: 40px;
    padding: 20px;
    width: 800px;
    height: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}

/* div for question image */
#question {
    background-color: #46194D;
    width: 720px;
    height: 360px;
}

/* div of buttons for the game */
#choose {
    display: flex;
    flex-direction: row;
}

/* text between buttons */
#choose p {
    font-family: "Cinzel";
    font-weight: bold;
    color: #38B8E6;
    font-size: 20px;
    width: 300px;
    text-align: center;
}

/* answer buttons */ /*could make one class to clean up*/
#left, #right, #next {
    background-color: #46194D;
    color: #38B8E6;
    font-family: "Cinzel";
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 50px;
}

/* hover effect over buttons before clicked*/
#left:hover, #right:hover {
    transition: 1s;
    background: #8A56F5;
    transition: 1s;
    }