* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3257E3;
}

header {
    background-color: #850B96;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#title {
    font-family: "Indie Flower";
    font-weight: bold;
    font-size: 3em;
    color: #38B8E6;
}

#leadIn {
    font-family: "Cinzel";
    font-weight: bold;
    font-size: 25px;
    color: #38B8E6;
}

/* div containing the game */
#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div of buttons for the game */
#container div{
    background-color: #850B96;
    margin-top: 40px;
    padding: 40px;
    width: 800px;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

/* answer buttons */
#left, #right {
    background-color: #46194D;
    color: #38B8E6;
    font-family: "Cinzel";
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 50px;
}

/* text between buttons */
#choose p {
    font-family: "Cinzel";
    font-weight: bold;
    color: #38B8E6;
    font-size: 20px;
    text-align: center;
}